@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.nav {
    margin: 1rem;
}

.crm-table {
    margin: 1rem;
    font-size: 18px;
    border-collapse: collapse;
}

.crm-table th, .crm-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.pink-header {
    background-color: pink;
}

.form-nav {
    max-width: 768px;
    margin: 2rem auto;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input, textarea {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"]  {
    padding: .25rem;
}

input[type="number"]  {
    padding: .25rem;
}

textarea {
    padding: .25rem;
    min-height: 5em;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}